
<label for="resort">
	<f:translate key="tx_interform_domain_model_event.resort" />
</label><br />
	<f:form.textfield property="resort" /><br />
<label for="salutation">
	<f:translate key="tx_interform_domain_model_event.salutation" />
</label><br />
	<f:form.textfield property="salutation" /><br />
<label for="firstName">
	<f:translate key="tx_interform_domain_model_event.first_name" />
</label><br />
	<f:form.textfield property="firstName" /><br />
<label for="lastName">
	<f:translate key="tx_interform_domain_model_event.last_name" />
</label><br />
	<f:form.textfield property="lastName" /><br />
<label for="meeting">
	<f:translate key="tx_interform_domain_model_event.meeting" />
</label><br />
	<f:form.textfield property="meeting" /><br />
<label for="date1">
	<f:translate key="tx_interform_domain_model_event.date1" />
</label><br />
	<f:form.textfield property="date1" /><br />
<label for="date2">
	<f:translate key="tx_interform_domain_model_event.date2" />
</label><br />
	<f:form.textfield property="date2" /><br />
<label for="dateFlexibility">
	<f:translate key="tx_interform_domain_model_event.date_flexibility" />
</label><br />
	<f:form.textfield property="dateFlexibility" /><br />
<label for="altDate1">
	<f:translate key="tx_interform_domain_model_event.alt_date1" />
</label><br />
	<f:form.textfield property="altDate1" /><br />
<label for="altDate2">
	<f:translate key="tx_interform_domain_model_event.alt_date2" />
</label><br />
	<f:form.textfield property="altDate2" /><br />
<label for="roomNumbers">
	<f:translate key="tx_interform_domain_model_event.room_numbers" />
</label><br />
	<f:form.textfield property="roomNumbers" /><br />
<label for="company">
	<f:translate key="tx_interform_domain_model_event.company" />
</label><br />
	<f:form.textfield property="company" /><br />
<label for="street1">
	<f:translate key="tx_interform_domain_model_event.street1" />
</label><br />
	<f:form.textfield property="street1" /><br />
<label for="street2">
	<f:translate key="tx_interform_domain_model_event.street2" />
</label><br />
	<f:form.textfield property="street2" /><br />
<label for="city">
	<f:translate key="tx_interform_domain_model_event.city" />
</label><br />
	<f:form.textfield property="city" /><br />
<label for="state">
	<f:translate key="tx_interform_domain_model_event.state" />
</label><br />
	<f:form.textfield property="state" /><br />
<label for="zip">
	<f:translate key="tx_interform_domain_model_event.zip" />
</label><br />
	<f:form.textfield property="zip" /><br />
<label for="country">
	<f:translate key="tx_interform_domain_model_event.country" />
</label><br />
	<f:form.textfield property="country" /><br />
<label for="phone">
	<f:translate key="tx_interform_domain_model_event.phone" />
</label><br />
	<f:form.textfield property="phone" /><br />
<label for="mail">
	<f:translate key="tx_interform_domain_model_event.mail" />
</label><br />
	<f:form.textfield property="mail" /><br />
<label for="attendees">
	<f:translate key="tx_interform_domain_model_event.attendees" />
</label><br />
	<f:form.textfield property="attendees" /><br />
<label for="setupRounds">
	<f:translate key="tx_interform_domain_model_event.setup_rounds" />
</label><br />
	<f:form.textfield property="setupRounds" /><br />
<label for="setupAuditorium">
	<f:translate key="tx_interform_domain_model_event.setup_auditorium" />
</label><br />
	<f:form.textfield property="setupAuditorium" /><br />
<label for="setupClassroom">
	<f:translate key="tx_interform_domain_model_event.setup_classroom" />
</label><br />
	<f:form.textfield property="setupClassroom" /><br />
<label for="setupConference">
	<f:translate key="tx_interform_domain_model_event.setup_conference" />
</label><br />
	<f:form.textfield property="setupConference" /><br />
<label for="setupExhibit">
	<f:translate key="tx_interform_domain_model_event.setup_exhibit" />
</label><br />
	<f:form.textfield property="setupExhibit" /><br />
<label for="setupCocktail">
	<f:translate key="tx_interform_domain_model_event.setup_cocktail" />
</label><br />
	<f:form.textfield property="setupCocktail" /><br />
<label for="comments">
	<f:translate key="tx_interform_domain_model_event.comments" />
</label><br />
	<f:form.textfield property="comments" /><br />