
<table class="tx-interform" >
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.resort" />
		</td>
		<td>
		{event.resort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.salutation" />
		</td>
		<td>
		{event.salutation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.first_name" />
		</td>
		<td>
		{event.firstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.last_name" />
		</td>
		<td>
		{event.lastName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.meeting" />
		</td>
		<td>
		{event.meeting}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.date1" />
		</td>
		<td>
		{event.date1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.date2" />
		</td>
		<td>
		{event.date2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.date_flexibility" />
		</td>
		<td>
		{event.dateFlexibility}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.alt_date1" />
		</td>
		<td>
		{event.altDate1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.alt_date2" />
		</td>
		<td>
		{event.altDate2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.room_numbers" />
		</td>
		<td>
		{event.roomNumbers}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.company" />
		</td>
		<td>
		{event.company}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.street1" />
		</td>
		<td>
		{event.street1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.street2" />
		</td>
		<td>
		{event.street2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.city" />
		</td>
		<td>
		{event.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.state" />
		</td>
		<td>
		{event.state}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.zip" />
		</td>
		<td>
		{event.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.country" />
		</td>
		<td>
		{event.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.phone" />
		</td>
		<td>
		{event.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.mail" />
		</td>
		<td>
		{event.mail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.attendees" />
		</td>
		<td>
		{event.attendees}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.setup_rounds" />
		</td>
		<td>
		{event.setupRounds}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.setup_auditorium" />
		</td>
		<td>
		{event.setupAuditorium}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.setup_classroom" />
		</td>
		<td>
		{event.setupClassroom}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.setup_conference" />
		</td>
		<td>
		{event.setupConference}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.setup_exhibit" />
		</td>
		<td>
		{event.setupExhibit}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.setup_cocktail" />
		</td>
		<td>
		{event.setupCocktail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_event.comments" />
		</td>
		<td>
		{event.comments}
		</td>
	</tr>
</table>