
<label for="vorname">
	<f:translate key="tx_interform_domain_model_kontakt.vorname" />
</label><br />
	<f:form.textfield property="vorname" /><br />
<label for="nachname">
	<f:translate key="tx_interform_domain_model_kontakt.nachname" />
</label><br />
	<f:form.textfield property="nachname" /><br />
<label for="mail">
	<f:translate key="tx_interform_domain_model_kontakt.mail" />
</label><br />
	<f:form.textfield property="mail" /><br />
<label for="unternehmen">
	<f:translate key="tx_interform_domain_model_kontakt.unternehmen" />
</label><br />
	<f:form.textfield property="unternehmen" /><br />
<label for="position">
	<f:translate key="tx_interform_domain_model_kontakt.position" />
</label><br />
	<f:form.textfield property="position" /><br />
<label for="telefon">
	<f:translate key="tx_interform_domain_model_kontakt.telefon" />
</label><br />
	<f:form.textfield property="telefon" /><br />
<label for="nachricht">
	<f:translate key="tx_interform_domain_model_kontakt.nachricht" />
</label><br />
	<f:form.textarea property="nachricht" cols="40" rows="15" /><br />
<label for="anhang">
	<f:translate key="tx_interform_domain_model_kontakt.anhang" />
</label><br />
	<f:form.textfield property="anhang" /><br />
<label for="sonstiges">
	<f:translate key="tx_interform_domain_model_kontakt.sonstiges" />
</label><br />
	<f:form.textarea property="sonstiges" cols="40" rows="15" /><br />