
<label for="salutation">
	<f:translate key="tx_interform_domain_model_weddingform.salutation" />
</label><br />
	<f:form.textfield property="salutation" /><br />
<label for="firstName">
	<f:translate key="tx_interform_domain_model_weddingform.first_name" />
</label><br />
	<f:form.textfield property="firstName" /><br />
<label for="lastName">
	<f:translate key="tx_interform_domain_model_weddingform.last_name" />
</label><br />
	<f:form.textfield property="lastName" /><br />
<label for="street1">
	<f:translate key="tx_interform_domain_model_weddingform.street1" />
</label><br />
	<f:form.textfield property="street1" /><br />
<label for="street2">
	<f:translate key="tx_interform_domain_model_weddingform.street2" />
</label><br />
	<f:form.textfield property="street2" /><br />
<label for="city">
	<f:translate key="tx_interform_domain_model_weddingform.city" />
</label><br />
	<f:form.textfield property="city" /><br />
<label for="state">
	<f:translate key="tx_interform_domain_model_weddingform.state" />
</label><br />
	<f:form.textfield property="state" /><br />
<label for="zip">
	<f:translate key="tx_interform_domain_model_weddingform.zip" />
</label><br />
	<f:form.textfield property="zip" /><br />
<label for="country">
	<f:translate key="tx_interform_domain_model_weddingform.country" />
</label><br />
	<f:form.textfield property="country" /><br />
<label for="phone">
	<f:translate key="tx_interform_domain_model_weddingform.phone" />
</label><br />
	<f:form.textfield property="phone" /><br />
<label for="mail">
	<f:translate key="tx_interform_domain_model_weddingform.mail" />
</label><br />
	<f:form.textfield property="mail" /><br />
<label for="resort">
	<f:translate key="tx_interform_domain_model_weddingform.resort" />
</label><br />
	<f:form.textfield property="resort" /><br />
<label for="comments">
	<f:translate key="tx_interform_domain_model_weddingform.comments" />
</label><br />
	<f:form.textfield property="comments" /><br />