
<table class="tx-interform" >
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_weddingform.salutation" />
		</td>
		<td>
		{weddingForm.salutation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_weddingform.first_name" />
		</td>
		<td>
		{weddingForm.firstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_weddingform.last_name" />
		</td>
		<td>
		{weddingForm.lastName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_weddingform.street1" />
		</td>
		<td>
		{weddingForm.street1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_weddingform.street2" />
		</td>
		<td>
		{weddingForm.street2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_weddingform.city" />
		</td>
		<td>
		{weddingForm.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_weddingform.state" />
		</td>
		<td>
		{weddingForm.state}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_weddingform.zip" />
		</td>
		<td>
		{weddingForm.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_weddingform.country" />
		</td>
		<td>
		{weddingForm.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_weddingform.phone" />
		</td>
		<td>
		{weddingForm.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_weddingform.mail" />
		</td>
		<td>
		{weddingForm.mail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_weddingform.resort" />
		</td>
		<td>
		{weddingForm.resort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_weddingform.comments" />
		</td>
		<td>
		{weddingForm.comments}
		</td>
	</tr>
</table>