
<label for="resort">
	<f:translate key="tx_interform_domain_model_spa.resort" />
</label><br />
	<f:form.textfield property="resort" /><br />
<label for="salutation">
	<f:translate key="tx_interform_domain_model_spa.salutation" />
</label><br />
	<f:form.textfield property="salutation" /><br />
<label for="firstName">
	<f:translate key="tx_interform_domain_model_spa.first_name" />
</label><br />
	<f:form.textfield property="firstName" /><br />
<label for="lastName">
	<f:translate key="tx_interform_domain_model_spa.last_name" />
</label><br />
	<f:form.textfield property="lastName" /><br />
<label for="mail">
	<f:translate key="tx_interform_domain_model_spa.mail" />
</label><br />
	<f:form.textfield property="mail" /><br />
<label for="phone">
	<f:translate key="tx_interform_domain_model_spa.phone" />
</label><br />
	<f:form.textfield property="phone" /><br />
<label for="coupleNames">
	<f:translate key="tx_interform_domain_model_spa.couple_names" />
</label><br />
	<f:form.textfield property="coupleNames" /><br />
<label for="treatment1">
	<f:translate key="tx_interform_domain_model_spa.treatment1" />
</label><br />
	<f:form.textfield property="treatment1" /><br />
<label for="treatment1number">
	<f:translate key="tx_interform_domain_model_spa.treatment1number" />
</label><br />
	<f:form.textfield property="treatment1number" /><br />
<label for="treatment1numbermore">
	<f:translate key="tx_interform_domain_model_spa.treatment1numbermore" />
</label><br />
	<f:form.textfield property="treatment1numbermore" /><br />
<label for="treatment1date">
	<f:translate key="tx_interform_domain_model_spa.treatment1date" />
</label><br />
	<f:form.textfield property="treatment1date" /><br />
<label for="treatment1time">
	<f:translate key="tx_interform_domain_model_spa.treatment1time" />
</label><br />
	<f:form.textfield property="treatment1time" /><br />
<label for="treatment1timerange">
	<f:translate key="tx_interform_domain_model_spa.treatment1timerange" />
</label><br />
	<f:form.textfield property="treatment1timerange" /><br />
<label for="treatment2">
	<f:translate key="tx_interform_domain_model_spa.treatment2" />
</label><br />
	<f:form.textfield property="treatment2" /><br />
<label for="treatment2number">
	<f:translate key="tx_interform_domain_model_spa.treatment2number" />
</label><br />
	<f:form.textfield property="treatment2number" /><br />
<label for="treatment2numbermore">
	<f:translate key="tx_interform_domain_model_spa.treatment2numbermore" />
</label><br />
	<f:form.textfield property="treatment2numbermore" /><br />
<label for="treatment2date">
	<f:translate key="tx_interform_domain_model_spa.treatment2date" />
</label><br />
	<f:form.textfield property="treatment2date" /><br />
<label for="treatment2time">
	<f:translate key="tx_interform_domain_model_spa.treatment2time" />
</label><br />
	<f:form.textfield property="treatment2time" /><br />
<label for="treatment2timerange">
	<f:translate key="tx_interform_domain_model_spa.treatment2timerange" />
</label><br />
	<f:form.textfield property="treatment2timerange" /><br />
<label for="treatment3">
	<f:translate key="tx_interform_domain_model_spa.treatment3" />
</label><br />
	<f:form.textfield property="treatment3" /><br />
<label for="treatment3number">
	<f:translate key="tx_interform_domain_model_spa.treatment3number" />
</label><br />
	<f:form.textfield property="treatment3number" /><br />
<label for="treatment3numbermore">
	<f:translate key="tx_interform_domain_model_spa.treatment3numbermore" />
</label><br />
	<f:form.textfield property="treatment3numbermore" /><br />
<label for="treatment3date">
	<f:translate key="tx_interform_domain_model_spa.treatment3date" />
</label><br />
	<f:form.textfield property="treatment3date" /><br />
<label for="treatment3time">
	<f:translate key="tx_interform_domain_model_spa.treatment3time" />
</label><br />
	<f:form.textfield property="treatment3time" /><br />
<label for="treatment3timerange">
	<f:translate key="tx_interform_domain_model_spa.treatment3timerange" />
</label><br />
	<f:form.textfield property="treatment3timerange" /><br />
<label for="message">
	<f:translate key="tx_interform_domain_model_spa.message" />
</label><br />
	<f:form.textarea property="message" cols="40" rows="15" /><br />
<label for="requirements">
	<f:translate key="tx_interform_domain_model_spa.requirements" />
</label><br />
	<f:form.textfield property="requirements" /><br />
<label for="occassion">
	<f:translate key="tx_interform_domain_model_spa.occassion" />
</label><br />
	<f:form.textfield property="occassion" /><br />
<label for="occassionOther">
	<f:translate key="tx_interform_domain_model_spa.occassion_other" />
</label><br />
	<f:form.textfield property="occassionOther" /><br />