
<table class="tx-interform" >
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.resort" />
		</td>
		<td>
		{spa.resort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.salutation" />
		</td>
		<td>
		{spa.salutation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.first_name" />
		</td>
		<td>
		{spa.firstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.last_name" />
		</td>
		<td>
		{spa.lastName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.mail" />
		</td>
		<td>
		{spa.mail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.phone" />
		</td>
		<td>
		{spa.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.couple_names" />
		</td>
		<td>
		{spa.coupleNames}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.treatment1" />
		</td>
		<td>
		{spa.treatment1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.treatment1number" />
		</td>
		<td>
		{spa.treatment1number}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.treatment1numbermore" />
		</td>
		<td>
		{spa.treatment1numbermore}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.treatment1date" />
		</td>
		<td>
		{spa.treatment1date}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.treatment1time" />
		</td>
		<td>
		{spa.treatment1time}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.treatment1timerange" />
		</td>
		<td>
		{spa.treatment1timerange}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.treatment2" />
		</td>
		<td>
		{spa.treatment2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.treatment2number" />
		</td>
		<td>
		{spa.treatment2number}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.treatment2numbermore" />
		</td>
		<td>
		{spa.treatment2numbermore}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.treatment2date" />
		</td>
		<td>
		{spa.treatment2date}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.treatment2time" />
		</td>
		<td>
		{spa.treatment2time}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.treatment2timerange" />
		</td>
		<td>
		{spa.treatment2timerange}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.treatment3" />
		</td>
		<td>
		{spa.treatment3}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.treatment3number" />
		</td>
		<td>
		{spa.treatment3number}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.treatment3numbermore" />
		</td>
		<td>
		{spa.treatment3numbermore}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.treatment3date" />
		</td>
		<td>
		{spa.treatment3date}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.treatment3time" />
		</td>
		<td>
		{spa.treatment3time}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.treatment3timerange" />
		</td>
		<td>
		{spa.treatment3timerange}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.message" />
		</td>
		<td>
		{spa.message}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.requirements" />
		</td>
		<td>
		{spa.requirements}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.occassion" />
		</td>
		<td>
		{spa.occassion}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_interform_domain_model_spa.occassion_other" />
		</td>
		<td>
		{spa.occassionOther}
		</td>
	</tr>
</table>